//bio

.box{
	margin: 4px 25px;
	padding: 5px 10px
}

.box .table{
	text-align: right;
	font-weight: 500;
	border-color: map-get($map, five);
	border-width: thick;
}
tr,
td{
	font-size:0.9em 
}

.txt-white{
	color: map-get($map:$map,four);
}
.txt-center{
	text-align: center;
}

.text-deco-none{
	text-decoration: none;
}

.bg-cian:hover{
	background-color: map-get($map:$map,four);
}


.font-fa{
	font-family: "Cormorant SC", serif;
}

h2{
	font-size: 1em;
	color: map-get($map:$map,four);
}

p{
	color: map-get($map:$map, four);
	font-size: 0.7em;
}