//bio

.box{
	margin: 4px 25px;
	padding: 5px 10px
}

.box .table{
	text-align: right;
	font-weight: 500;
	border-color: rgba(168, 136, 181, 0.4);
	border-width: thick;
}
tr,
td{
	font-size:0.9em 
}

.txt-white{
	color: rgba(255, 255, 255, 0.7);
}
.txt-center{
	text-align: center;
}

.text-deco-none{
	text-decoration: none;
}

.bg-cian:hover{
	background-color: rgba(184, 230, 245, 0.7);
}


.font-fa{
	font-family: "Cormorant SC", serif;
}

h2{
	font-size: 1em;
	color: rgba(255, 255, 255, 0.7);
}

p{
	color: rgba(255, 255, 255, 0.7);
	font-size: 0.7em;
}