//fonts

@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&family=Roboto+Mono:wght@300&display=swap');


.font-f{
	font-family: 'Cormorant SC', serif;
	font-weight: 600;
}

.font-r{
	font-family: 'Roboto Mono', monospace;
	font-weight: 600;
	font-size: 0.5em;
}

$fontMain: 'Cormorant SC', serif;;
$color: map-get($map:$map,four);
$fontSize: 1em;